<div>
    <h1>My Dashboard</h1>
    {{#if posts.length}}
    <h3>Posts</h3>
    {{#each posts as |post|}}
    <div>
        <div>
            {{> post-info post}}
            <a href="/post/{{post.id}}">{{post.title}}</a>
            <p>Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
            <div>
                <button class="button"><a href="/dashboard/edit/{{post.id}}">Edit Post</a></button>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}

    {{> comments post.comments}}

    {{#if loggedIn}}
    <div>
        <button class="button"><a href="/dashboard/new">New Post</a></button>
    </div>
    {{else}}
    <p>No posts to display!</p>
    {{/if}}
</div>

<script src="/js/new.js"></script>
<script src="/js/comment.js"></script>